 <footer>
            <div class="main_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="M_footer">
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 quick_links">
                                <div class="title">Đường dẫn nhanh</div>
                                    <div class="main_cnt">
                                        <ul>
                                            <li><a href="/about" class="trans" title="About us">Thông tin</a></li>
                                            
                                            <li><a href="contactus.html" class="trans" title="Contacts">Liên Hệ</a></li>
                                            <li><a href="/dang-nhap" class="trans" title="Login">Đăng Nhập</a></li>
                                            <li><a href="/dang-nhap" class="trans" title="Register">Đăng Kí</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 location">
                                    <div class="title">Địa điểm của chúng tôi</div>
                                    <div class="main_cnt"> <span class="address"><a href="#">Lã Xuân Oai, Quận 9, Tp.Hồ Chí Minh</a></span> <span class="time1">Mon - Fri: 08:00 am - 10:00 pm</span> <span class="time2">Sat - Sun: 10:00 am - 11:00 pm<strong></strong></span> <span class="conact"><a href="tel:+01234567890">+01 (234) 56 56 789</a></span> </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 subscribe">
                                    <div class="title">Đăng ký cho chúng tôi</div>
                                    <div class="main_cnt">
                                        <p class="sbcr_label">Đăng ký nhận thông tin XT để cập nhật thường xuyên về các ưu đãi
                                            
                                        <form id="subscribeform">
                                            
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="F_footer">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="payment"> <span>Payment Options</span> <span class="pay_cards"><img src="/fast_food/images/card_img.png" alt></span> </div>
                            <div class="social">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=100029344411094" class="trans" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://mail.google.com/mail/u/0/?tab=om#inbox" class="trans" title="Google Plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/xuantruongg99/" class="trans" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.pinterest.com/pxtymtyn/_saved/" class="trans" title="Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <p>© <a href class="trans" title="Crave Ordering">See you again</a> <script type="text/javascript">document.write(new Date().getFullYear());</script>, All rights reserved </p>
                </div>
            </div>
        </footer>
        <!-- Footer Section here -->
    </div>
    <!-- JS Here -->
    <script src="/fast_food/js/custome.js" defer></script>
    <script src="/fast_food/js/slick.js" defer></script>
    <script src="/fast_food/js/jquery.validate.min.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.0.2/cleave.min.js" integrity="sha512-SvgzybymTn9KvnNGu0HxXiGoNeOi0TTK7viiG0EGn2Qbeu/NFi3JdWrJs2JHiGA1Lph+dxiDv5F9gDlcgBzjfA==" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>

     <!-- JS Here -->
</body>

</html>