<%- include('../partials/header.ejs'); -%>


<body>
    <div class="wrapper">
        <!-- Header Start Here -->

        <!-- Header end Here -->

        <!-- breadcum section -->

        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="/" class="trans" title="Home">Home</a></li>
                                <li>Thông tin</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- breadcum section -->

        <!-- History section -->
        <section>
            <div class="history_sction">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_history">
                                <h2 class="title">Lịch sử hình thành</h2>
                                <div class="desc">
                                    <p>Vào đầu tháng 1, chúng tôi đã mở hơn 100 cửa hàng được xem xét, từ những công ty quốc tế khổng lồ nhất đến những công ty nhỏ hơn trong khu vực. Hàng trăm cử tri tham gia, và trong khi cuộc đua đang diễn ra căng thẳng, một người đã vươn lên dẫn đầu..</p>

                                    <p> Làm một chiếc bánh pizza chất lượng từ đầu không hề dễ dàng, nhưng thành công là nhờ vào khoa học. Một số tự hào về việc làm thủ công từng chiếc bánh với các nguyên liệu hoàn toàn tự nhiên; những người khác chế biến một lượng lớn bánh pizza hàng ngày với sự hỗ trợ của máy móc công nghệ cao. Tuy nhiên, vào cuối ngày, mỗi khách hàng ăn pizza đều có món yêu thích của họ..</p>
                                </div>
                                <div class="points_history">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon1">
                                                    <a class="trans" title="Delivery or Takeaway">
                                                        <span>Delivery or Takeaway</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon2">
                                                    <a class="trans" title="Secure card payment">
                                                        <span>Secure card payment</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon3">
                                                    <a class="trans" title="Cash payment">
                                                        <span>Cash payment</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                            <ul>
                                                <li class="icon4">
                                                    <a class="trans" title="Delivery or Takeaway">
                                                        <span>Delivery or Takeaway</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- History section -->

        <!-- Order Section start here -->
        <section>
            <div class="Order">

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_Order">
                                <h2 class="title">Đặt món ăn trực tuyến</h2>

                                <p class="desc">
                                    Chúng tôi cung cấp các gói và thực đơn ngon miệng bao gồm Pizza, Pasta làm thủ công, các món Gà truyền thống của Ý, cũng như Salad và Món khai vị hấp dẫn.</p>
                                <div class="order_button">
                                    <a href="/order" class="red_btn trans hvr-ripple-out" title="Order Now">Đặt ngay</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- Order Section end here -->

        <!-- Footer Section here -->
        

        <!-- Footer Section here -->

    </div>

    <!-- JS Here -->
    <script src="js/custome.js" defer=""></script>
    <script src="js/slick.js" defer=""></script>
    <script src="js/jquery.validate.min.js" defer=""></script>
    <!-- JS Here -->
    


</body></html>
<%- include('../partials/footer.ejs'); -%>