<%- include('../partials/header.ejs'); -%>


<body>
    <div class="wrapper">
        <!-- Header Start Here -->
        
        <!-- Header Start Here -->

        <!-- breadcum section -->
        <div class="breadcum">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="main_breadcum">
                            <ul>
                                <li><a href="/" class="trans" title="Home">Home</a></li>
                                <li>Giỏ Hàng</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcum section -->
        <!-- Our cart section -->
        <section>
            <div class="main_cart">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_Ourmenu">
                                <h2 class="title">Giỏ Hàng</h2>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="cart_list">
                                <ul class="inner_cartlist">
                                    <li class="header">
                                        <div class="main_head">
                                            <div class="edit">&nbsp;</div>
                                            <div class="pro_name">
                                                <h4>Sản phẩm</h4></div>
                                            <div class="pro_qty">
                                                <h4>Số lượng</h4></div>
                                            <div class="pro_price">
                                                <h4>Giá</h4></div>
                                            <div class="pro_total">
                                                <h4>Tổng tiền</h4></div>
                                        </div>
                                    </li>

                                    <li class="rows">
                                        <div class="edit">
                                            <div class="edit_div"><a href="#" class="trans del" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a><a href="#" class="trans edit_new" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                        </div>
                                        <div class="pro_name">
                                            <div class="products">
                                                <div class="pro_img"><img src="fast_food/images/cart1.png" class="absoImg" alt=""></div>
                                                <div class="pro_descr">
                                                    <h3 class="pro_title"><a href="#" title="Mexican Pizza" class="trans">Deluxe</a></h3>
                                                    <p class="pro_dtls">original &amp; favorite specialty pizza topped</p>
                                                    <p class="size"><span class="size">Size :</span>Medium</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pro_qty">
                                            <div class="number-input">

                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>

                                            </div>
                                        </div>
                                        <div class="pro_price">
                                            <h4>$12.00</h4></div>
                                        <div class="pro_total">
                                            <h4>$12.00</h4></div>
                                    </li>
                                    <li class="rows">
                                        <div class="edit">
                                            <div class="edit_div"><a href="#" class="trans del" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a><a href="#" class="trans edit_new" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                        </div>
                                        <div class="pro_name">
                                            <div class="products">
                                                <div class="pro_img"><img src="fast_food/images/cart1.png" class="absoImg" alt=""></div>
                                                <div class="pro_descr">
                                                    <h3 class="pro_title"><a href="#" title="Mexican Pizza" class="trans">Veggie</a></h3>
                                                    <p class="pro_dtls">Veggie lovers rejoice! Pizza topped with mushrooms</p>
                                                    <p class="size"><span class="size">Size :</span>Medium</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pro_qty">
                                            <div class="number-input">

                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>

                                            </div>
                                        </div>
                                        <div class="pro_price">
                                            <h4>$12.00</h4></div>
                                        <div class="pro_total">
                                            <h4>$12.00</h4></div>
                                    </li>
                                    <li class="rows">
                                        <div class="edit">
                                            <div class="edit_div"><a href="#" class="trans del" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a><a href="#" class="trans edit_new" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                        </div>
                                        <div class="pro_name">
                                            <div class="products">
                                                <div class="pro_img"><img src="fast_food/images/cart1.png" class="absoImg" alt=""></div>
                                                <div class="pro_descr">
                                                    <h3 class="pro_title"><a href="#" title="Mexican Pizza" class="trans">Barbecue Chicken</a></h3>
                                                    <p class="pro_dtls">Tangy, rich, our homemade BBQ Chicken pizza</p>
                                                    <p class="size"><span class="size">Size :</span>Medium</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pro_qty">
                                            <div class="number-input">

                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>

                                            </div>
                                        </div>
                                        <div class="pro_price">
                                            <h4>$12.00</h4></div>
                                        <div class="pro_total">
                                            <h4>$12.00</h4></div>
                                    </li>
                                    <li class="rows">
                                        <div class="edit">
                                            <div class="edit_div"><a href="#" class="trans del" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a><a href="#" class="trans edit_new" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                        </div>
                                        <div class="pro_name">
                                            <div class="products">
                                                <div class="pro_img"><img src="fast_food/images/cart1.png" class="absoImg" alt=""></div>
                                                <div class="pro_descr">
                                                    <h3 class="pro_title"><a href="#" title="Mexican Pizza" class="trans">Egg-ceptional</a></h3>
                                                    <p class="pro_dtls">Enjoy breakfast anytime of the day! Our breakfast pizza</p>
                                                    <p class="size"><span class="size">Size :</span>Medium</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pro_qty">
                                            <div class="number-input">

                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>

                                            </div>
                                        </div>
                                        <div class="pro_price">
                                            <h4>$12.00</h4></div>
                                        <div class="pro_total">
                                            <h4>$12.00</h4></div>
                                    </li>
                                    <li class="rows">
                                        <div class="edit">
                                            <div class="edit_div"><a href="#" class="trans del" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a><a href="#" class="trans edit_new" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                        </div>
                                        <div class="pro_name">
                                            <div class="products">
                                                <div class="pro_img"><img src="fast_food/images/cart1.png" class="absoImg" alt=""></div>
                                                <div class="pro_descr">
                                                    <h3 class="pro_title"><a href="#" title="Mexican Pizza" class="trans">lunch Special Pizza</a></h3>
                                                    <p class="pro_dtls">one-topping pizza and a16 ounce drink Specialties.</p>
                                                    <p class="size"><span class="size">Size :</span>Medium</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pro_qty">
                                            <div class="number-input">

                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>

                                            </div>
                                        </div>
                                        <div class="pro_price">
                                            <h4>$12.00</h4></div>
                                        <div class="pro_total">
                                            <h4>$12.00</h4></div>
                                    </li>
                                    <li class="rows">
                                        <div class="edit">
                                            <div class="edit_div"><a href="#" class="trans del" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a><a href="#" class="trans edit_new" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                        </div>
                                        <div class="pro_name">
                                            <div class="products">
                                                <div class="pro_img"><img src="fast_food/images/cart1.png" class="absoImg" alt=""></div>
                                                <div class="pro_descr">
                                                    <h3 class="pro_title"><a href="#" title="Mexican Pizza" class="trans">Tuscan Roma</a></h3>
                                                    <p class="pro_dtls">Pizza with Roma Tomatoes, Spinach, Alfredo Sauce</p>
                                                    <p class="size"><span class="size">Size :</span>Medium</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pro_qty">
                                            <div class="number-input">

                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>

                                            </div>
                                        </div>
                                        <div class="pro_price">
                                            <h4>$12.00</h4></div>
                                        <div class="pro_total">
                                            <h4>$12.00</h4></div>
                                    </li>
                                    <li class="rows">
                                        <div class="edit">
                                            <div class="edit_div"><a href="#" class="trans del" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></a><a href="#" class="trans edit_new" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a></div>
                                        </div>
                                        <div class="pro_name">
                                            <div class="products">
                                                <div class="pro_img"><img src="fast_food/images/cart1.png" class="absoImg" alt=""></div>
                                                <div class="pro_descr">
                                                    <h3 class="pro_title"><a href="#" title="Mexican Pizza" class="trans">Mac &amp; Cheese</a></h3>
                                                    <p class="pro_dtls">Pizza with Macaroni and Cheese</p>
                                                    <p class="size"><span class="size">Size :</span>Medium</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pro_qty">
                                            <div class="number-input">

                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                <input class="quantity" min="0" name="quantity" value="1" type="number">
                                                <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>

                                            </div>
                                        </div>
                                        <div class="pro_price">
                                            <h4>$12.00</h4></div>
                                        <div class="pro_total">
                                            <h4>$12.00</h4></div>
                                    </li>

                                </ul>
                                <div class="coupan_block">
                                    <form method="post" id="couponform">
                                        <div class="coupan_code">
                                            <input type="text" name="Coupancode" class="form-control" placeholder="Mã giảm giá">
                                            <button type="submit" class="coupon-btn send trans hvr-ripple-out" name="coupon">Áp dụng phiếu giảm giá</button>
                                            <!-- <input type="submit" value="Apply Coupon" class="send trans"> -->
                                        </div>
                                    </form>
                                    <div class="Redio_diltype">
                                        <ul>
                                            <li>

                                                <input type="radio" id="Delivery" name="deliver_type" value="male" checked="">
                                                <label for="Delivery">Giao hàng</label>
                                            </li>
                                            <li>
                                                <input type="radio" id="takeaway" name="deliver_type" value="female">
                                                <label for="takeaway">Lấy tại chỗ</label>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="checkout">
                                    
                                    <p class="order_total"><span>Tổng Tiền :</span> $156.00</p>
                                    <div class="btn_checkout">
                                        <a href="#" class="trans gray_btn hvr-ripple" title="Update Cart">Thêm giỏ hàng</a>
                                        <a href="checkout.html" class="trans red_btn squre-btn hvr-ripple-out" title="Proceed to Checkout">Tiến hành kiểm tra</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Our cart section -->
        <!-- Quick Order Section -->
        <section>
            <div class="quick_order">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Quick Order Section -->

        <!-- Footer Section here -->
        

        <!-- Footer Section here -->

    </div>
    <!-- JS Here -->
    <script src="js/custome.js" defer=""></script>
    <script src="js/slick.js" defer=""></script>
    <script src="js/jquery.validate.min.js" defer=""></script>


</body></html>
<%- include('../partials/footer.ejs'); -%>