<%- include('../partials/header.ejs'); -%>
<body>
<div class="contact_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_contact">
                                <div class="contact_left">
                                    <div class="contact_box  col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <h2 class="title">Send Us a Quick Message</h2>
                                        <form method="post" id="contactusform" action="thank-you.html">
                                            <div class="login_form">
                                                <ul>
                                                    <li>
                                                        <label for="FirstName">First Name<span>*</span></label>
                                                        <input class="form-control" id="FirstName" placeholder="" title="First Name" name="fname" type="text">
                                                    </li>
                                                    <li>
                                                        <label for="LastName">Last Name<span>*</span></label>
                                                        <input class="form-control" id="LastName" placeholder="" title="Last Name" name="lname" type="text">
                                                    </li>
                                                    <li>
                                                        <label for="Subject">Subject</label>
                                                        <input class="form-control" id="Subject" placeholder="" title="Subject" name="subject" type="text">
                                                    </li>
                                                    <li>
                                                        <label for="Message">Message</label>
                                                        <textarea class="form-control" title="Message" name="message" id="Message"></textarea>
                                                    </li>

                                                    <li>
                                                        <button type="submit" class="contactus-btn red_btn trans squre-btn hvr-ripple-out" name="Let'sdoit">Let's do it</button>

                                                    </li>
                                                </ul>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="contact_right ">
                                    <div class="contact_box col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                        <h2 class="title">Get In Touch</h2>

                                        <h3 class="cont_header">By simply doing business with us, we will ​guarantee our service response to you within 24hrs</h3>
                                        <ul class="contact_dtls">
                                            <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Address</h3>
                                                <p><a href="#">234 Main Street, Uni 01, New Mexico City</a></p>
                                            </li>
                                            <li class="email">
                                                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Email</h3>
                                                <p><a href="mailto:info@pizza.co.uk">info@pizza.co.uk</a></p>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Phone</h3>
                                                <p><a href="tel:+012345656789">+01 (234) 56 56 789</a></p>
                                            </li>
                                            <li>
                                                <span><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                                <h3 class="cont_title">Open</h3>
                                                <p>Mon - Fri: 08:00 am - 10:00 pm</p>
                                                <p>Sat - Sun: 10:00 am - 11:00 pm</p>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>

<%- include('../partials/footer.ejs'); -%>