<!-- JAVASCRIPT -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/dashboard/libs/jquery/jquery.min.js"></script>
<script src="/dashboard/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/dashboard/libs/metismenu/metisMenu.min.js"></script>
<script src="/dashboard/libs/simplebar/simplebar.min.js"></script>
<script src="/dashboard/libs/node-waves/waves.min.js"></script>
<script src="/dashboard/libs/waypoints/lib/jquery.waypoints.min.js"></script>
<script src="/dashboard/libs/jquery.counterup/jquery.counterup.min.js"></script>
<script src="/dashboard/libs/feather-icons/feather.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.0.2/cleave.min.js" integrity="sha512-SvgzybymTn9KvnNGu0HxXiGoNeOi0TTK7viiG0EGn2Qbeu/NFi3JdWrJs2JHiGA1Lph+dxiDv5F9gDlcgBzjfA==" crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<!-- <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>


<!-- apexcharts -->
<script src="/dashboard/libs/apexcharts/apexcharts.min.js"></script>
<script src="/dashboard/js/pages/form-repeater.int.js"></script>
<script src="/dashboard/libs/jquery.repeater/jquery.repeater.min.js"></script>
<script src="/dashboard/js/pages/dashboard.init.js"></script>
<script src="/dashboard/libs/dropzone/min/dropzone.min.js"></script>
<script src="/dashboard/js/app.js"></script>
<!-- <input type="file" multiple="multiple" class="dz-hidden-input" style="visibility: hidden; position: absolute; top: 0px; left: 0px; height: 0px; width: 0px;"> -->

</body>

</html>