<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <!-- LOGO -->
    <div class="navbar-brand-box">
        <a href="index.html" class="logo logo-dark">
            <span class="logo-sm">
                <img src="/dashboard/images/logo-dark-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/dashboard/images/logo-dark.png" alt="" height="18">
            </span>
        </a>

        <a href="index.html" class="logo logo-light">
            <span class="logo-sm">
                <img src="/dashboard/images/logo-light-sm.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="/dashboard/images/logo-light.png" alt="" height="18">
            </span>
        </a>
    </div>

    <button type="button" class="btn btn-sm px-3 font-size-16 header-item waves-effect vertical-menu-btn">
        <i class="fa fa-fw fa-bars"></i>
    </button>

    <div data-simplebar class="sidebar-menu-scroll">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="icon nav-icon" data-feather="home"></i>
                        <span class="badge badge-pill badge-primary float-right">2</span>
                        <span class="menu-item" key="t-dashboards">Dashboards</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="index.html" key="t-ecommerce">Ecommerce</a></li>
                        <li><a href="dashboard-saas.html" key="t-saas">Saas</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="layout"></i>
                        <span class="menu-item" key="t-layouts">Layouts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="layouts-horizontal.html" key="t-horizontal">Horizontal</a></li>
                        <li><a href="layouts-light-sidebar.html" key="t-light-sidebar">Light Sidebar</a></li>
                        <li><a href="layouts-compact-sidebar.html" key="t-compact-sidebar">Compact Sidebar</a></li>
                        <li><a href="layouts-icon-sidebar.html" key="t-icon-sidebar">Icon Sidebar</a></li>
                        <li><a href="layouts-boxed.html" key="t-boxed-width">Boxed Width</a></li>
                        <li><a href="layouts-preloader.html" key="t-preloader">Preloader</a></li>
                        <li><a href="layouts-colored-sidebar.html" key="t-colored-sidebar">Colored Sidebar</a></li>
                        <li><a href="layouts-scrollable.html" key="t-scrollable">Scrollable</a></li>
                    </ul>
                </li>

                <li class="menu-title" key="t-apps">Apps</li>

                <li>
                    <a href="chat.html" class=" waves-effect">
                        <i class="icon nav-icon" data-feather="message-square"></i>
                        <span class="badge badge-pill badge-success float-right" key="t-new">New</span>
                        <span class="menu-item" key="t-chat">Chat</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="shopping-bag"></i>
                        <span class="menu-item" key="t-ecommerce">Ecommerce</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/product/add-product" key="t-products">Thêm sản phẩm</a></li>
                        <li><a href="/product/list-product" key="t-product-detail">Danh sách sản phẩm</a></li>
                        <li><a href="/category/add-category" key="t-customers">Quản lý danh mục</a></li>
                        <li><a href="ecommerce-cart.html" key="t-cart">Quản lý đơn hàng</a></li>
                        <li><a href="ecommerce-checkout.html" key="t-checkout">Quản lý Banner</a></li>
                        <li><a href="ecommerce-shops.html" key="t-shops">Quản lý Discout</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="mail"></i>
                        <span class="menu-item" key="t-email">Email</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="email-inbox.html" key="t-inbox">Inbox</a></li>
                        <li><a href="email-read.html" key="t-read-email">Read Email</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="file"></i>
                        <span class="menu-item" key="t-invoices">Invoices</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="invoices-list.html" key="t-invoice-list">Invoice List</a></li>
                        <li><a href="invoices-detail.html" key="t-invoice-detail">Invoice Detail</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="book"></i>
                        <span class="menu-item" key="t-contacts">Quản lý K/H</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/list-staff" key="t-user-grid">Danh sách N/V</a></li>
                        <li><a href="/list-user" key="t-user-list">Danh sách K/H</a></li>
                        <li><a href="contacts-profile.html" key="t-profile">Profile</a></li>
                    </ul>
                </li>

                <li class="menu-title" key="t-pages">Pages</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="user"></i>
                        <span class="menu-item" key="t-authentication">Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="auth-login.html" key="t-login">Login</a></li>
                        <li><a href="auth-register.html" key="t-register">Register</a></li>
                        <li><a href="auth-recoverpw.html" key="t-recover-password">Recover Password</a></li>
                        <li><a href="auth-lock-screen.html" key="t-lock-screen">Lock Screen</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="file-text"></i>
                        <span class="menu-item" key="t-utility">Utility</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="pages-starter.html" key="t-starter-page">Starter Page</a></li>
                        <li><a href="pages-maintenance.html" key="t-maintenance">Maintenance</a></li>
                        <li><a href="pages-comingsoon.html" key="t-coming-soon">Coming Soon</a></li>
                        <li><a href="pages-timeline.html" key="t-timeline">Timeline</a></li>
                        <li><a href="pages-faqs.html" key="t-faqs">FAQs</a></li>
                        <li><a href="pages-pricing.html" key="t-pricing">Pricing</a></li>
                        <li><a href="pages-404.html" key="t-error-404">Error 404</a></li>
                        <li><a href="pages-500.html" key="t-error-500">Error 500</a></li>
                    </ul>
                </li>

                <li class="menu-title" c>Components</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="gift"></i>
                        <span class="menu-item" key="t-ui-elements">UI Elements</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="ui-alerts.html" key="t-alerts">Alerts</a></li>
                        <li><a href="ui-buttons.html" key="t-buttons">Buttons</a></li>
                        <li><a href="ui-cards.html" key="t-cards">Cards</a></li>
                        <li><a href="ui-carousel.html" key="t-carousel">Carousel</a></li>
                        <li><a href="ui-dropdowns.html" key="t-dropdowns">Dropdowns</a></li>
                        <li><a href="ui-grid.html" key="t-grid">Grid</a></li>
                        <li><a href="ui-images.html" key="t-images">Images</a></li>
                        <li><a href="ui-lightbox.html" key="t-lightbox">Lightbox</a></li>
                        <li><a href="ui-modals.html" key="t-modals">Modals</a></li>
                        <li><a href="ui-rangeslider.html" key="t-range-slider">Range Slider</a></li>
                        <li><a href="ui-session-timeout.html" key="t-session-timeout">Session Timeout</a></li>
                        <li><a href="ui-progressbars.html" key="t-progress-bars">Progress Bars</a></li>
                        <li><a href="ui-sweet-alert.html" key="t-sweet-alert">Sweet-Alert</a></li>
                        <li><a href="ui-tabs-accordions.html" key="t-tabs-accordions">Tabs & Accordions</a></li>
                        <li><a href="ui-typography.html" key="t-typography">Typography</a></li>
                        <li><a href="ui-video.html" key="t-video">Video</a></li>
                        <li><a href="ui-general.html" key="t-general">General</a></li>
                        <li><a href="ui-colors.html" key="t-colors">Colors</a></li>
                        <li><a href="ui-rating.html" key="t-rating">Rating</a></li>
                        <li><a href="ui-notifications.html" key="t-notifications">Notifications</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="waves-effect">
                        <i class="icon nav-icon" data-feather="edit-3"></i>
                        <span class="badge badge-pill badge-info float-right">9</span>
                        <span class="menu-item" key="t-forms">Forms</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="form-elements.html" key="t-basic-elements">Basic Elements</a></li>
                        <li><a href="form-validation.html" key="t-validation">Validation</a></li>
                        <li><a href="form-advanced.html" key="t-advanced-plugins">Advanced Plugins</a></li>
                        <li><a href="form-editors.html" key="t-editors">Editors</a></li>
                        <li><a href="form-uploads.html" key="t-file-upload">File Upload</a></li>
                        <li><a href="form-xeditable.html" key="t-xeditable">Xeditable</a></li>
                        <li><a href="form-repeater.html" key="t-repeater">Repeater</a></li>
                        <li><a href="form-wizard.html" key="t-wizard">Wizard</a></li>
                        <li><a href="form-mask.html" key="t-mask">Mask</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="database"></i>
                        <span class="menu-item" key="t-tables">Tables</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="tables-basic.html" key="t-bootstrap-basic">Bootstrap Basic</a></li>
                        <li><a href="tables-datatable.html" key="t-datatables">Datatables</a></li>
                        <li><a href="tables-responsive.html" key="t-responsive">Responsive</a></li>
                        <li><a href="tables-editable.html" key="t-editable">Editable</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="pie-chart"></i>
                        <span class="menu-item" key="t-charts">Charts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="charts-apex.html" key="t-apex">Apex</a></li>
                        <li><a href="charts-chartjs.html" key="t-chartjs">Chartjs</a></li>
                        <li><a href="charts-flot.html" key="t-flot">Flot</a></li>
                        <li><a href="charts-knob.html" key="t-jquery-knob">Jquery Knob</a></li>
                        <li><a href="charts-sparkline.html" key="t-sparkline">Sparkline</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="archive"></i>
                        <span class="menu-item" key="t-icons">Icons</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="icons-unicons.html" key="t-unicons">Unicons</a></li>
                        <li><a href="icons-feathericons.html" key="t-feather-icons">Feather icons</a></li>
                        <li><a href="icons-boxicons.html" key="t-boxicons">Boxicons</a></li>
                        <li><a href="icons-materialdesign.html" key="t-material-design">Material Design</a></li>
                        <li><a href="icons-dripicons.html" key="t-dripicons">Dripicons</a></li>
                        <li><a href="icons-fontawesome.html" key="t-font-awesome">Font Awesome</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="map-pin"></i>
                        <span class="menu-item" key="t-maps">Maps</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="maps-google.html" key="t-google">Google</a></li>
                        <li><a href="maps-vector.html" key="t-vector">Vector</a></li>
                        <li><a href="maps-leaflet.html" key="t-leaflet">Leaflet</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="icon nav-icon" data-feather="share-2"></i>
                        <span class="menu-item" key="t-multi-level">Multi Level</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);" key="t-level-1.1">Level 1.1</a></li>
                        <li><a href="javascript: void(0);" class="has-arrow" key="t-level-1.2">Level 1.2</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" key="t-level-2.1">Level 2.1</a></li>
                                <li><a href="javascript: void(0);" key="t-level-2.2">Level 2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->